<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="column has-text-centered">
            <iframe style="display: block; margin: auto;" src="https://status.thackerbroadcasting.com/badge" width="200" height="30" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="content is-small has-text-centered">
            <p class="">&copy 2023 Thacker Broadcasting LLC - Broadcasting Beyond | <a href="https://thackerbroadcasting.atlassian.net/servicedesk/customer/portal">Submit a ticket</a> | Theme based on <a href="https://github.com/chrisrhymes/bulma-clean-theme">Bulma Clean</a>, built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
        </div>
    </div>
</footer>